.create-service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    height: auto;
}
.create-service-item {
    width: 90%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*padding: 5px;*/
}

.create-service-item_btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    /*padding: 5px;*/
    background-color: green;
}

.create-service-item_btn:hover {
    background-color: deepskyblue;
}