.update-employee-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
}

.update-employee_header {

}

.update-employee_cancel {

}

.update-employee_input {

}

.update {

}
